.nav-bar {
    /*background-color: cyan;*/
}

.nav-bar .container {
    /*background-color: gold;*/
}

.welcome-box {
    /*background-color: blue;*/
}

.welcome-box .content {
    /*background-color: #f87f73;*/
    /*min-height: 250px;*/
}

section {
    padding: 3rem 0 3rem 0;
    height: 400px;
}

section .container {
    /*background-color: #00ffff;*/
    height: 100%;
}

section .container .image {
    height: 100%;
    background-color: #fd7c51;
}

section .container .text {
    height: 100%;
    background-color: #7efbd2;
}
