* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    background-color: #255de7;
}

.welcome-box {
    display: flex;
    align-items: center;
    padding: 3rem 0 4rem 0;
    height: 450px;
    background-image: url("img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.welcome-box .content {
    margin-inline: auto;
    padding-inline: 1rem;
    text-align: center;
    max-width: 700px;
}

.welcome-box .content h1 {
    color: white;
    font-size: 2.5rem;
}

.welcome-box .content p {
    color: white;
    font-size: calc(2.5rem / 3);
    font-weight: 100;
}

.welcome-box .content .buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.container {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.nav-bar {
    height: 4rem;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar .links ul {
    display: flex;
    flex-direction: row;
}

.nav-bar .links ul li {
    padding-inline: 1rem;
}

.nav-bar .container .links a {
    color: white;
}

.nav-bar .container .links a:hover {
    color: salmon;
}

/*    BUTTONS   */
.btn {
    padding: 0.5rem;
    border-radius: 5rem;
    cursor: pointer;
}

.btn.login {
    background-color: white;
}

.btn.login:hover {
    background-color: salmon;
    color: white;
}

.btn.download-mac {
    background-color: white;
}

.section-download-mac .container .btn.download-mac {
    background-color: #7188d8;
    color: white;
}

.btn.open-in-browser {
    color: white;
    background-color: #23272a;
}

.btn.sign-up {
    background-color: #7188d8;
    color: white;
}

section {
    margin: 5rem 0 5rem 0;
    padding: 3rem 0 3rem 0;
    height: 400px;
}

section .container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

section .container .image {
    padding: 1.5rem;
    flex: 0 1 65%;
}

/*todo: fit text in .text class container*/
section .container .text {
    padding: 1.5rem;
    flex: 0 1 35%;
}

.container .text h2 {
    font-size: 2.5rem;
}

.container .text p {
    margin-top: 1rem;
    font-size: 1rem;
}

.container .image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/*section.section-reverse {*/
/*    background-color: lightgray;*/
/*}*/

section.section-reverse .container {
    flex-direction: row-reverse;
}

section.big-section {
    height: 600px;
}

section.big-section .container {
    text-align: center;
    flex-direction: column;
}

section.section-download-mac {
    height: 200px;
}

section.section-download-mac .container {
    gap: 1.5rem;
    flex-direction: column;
}

section.section-download-mac .invite-message {
    height: 100%;
    padding: 30px;
    background-image: url("img/stars.svg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    background-color: #23272a;
}

.footer.top {
    border-bottom: 1px solid rgba(113, 136, 216, 0.70);
    padding-bottom: 2rem;
}

.footer.bottom {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

footer .container {
    padding: 3rem 0 3rem 0;
}

.column .ita-lang {
    max-height: 15px;
}

.footer-list .column li {
    padding-top: 1rem;
    color: white;
}

.footer-list .column li a {
    color: white;
    padding-inline: 5px;
}

.footer-list .column li:first-child {
    padding-right: 1rem;
    color: #7188d8;
}

.footer-nav {
    display: flex;
}

.footer-list {
    flex-direction: column;
}

.footer-nav .footer-list:first-child {
    flex: 0 1 30%;
}

.footer-nav .footer-list:nth-last-child(n+2) {
    flex: 0 1 calc(100% / 4);
}

