* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    background-color: #255de7;
}

.welcome-box {
    padding: 3rem 0 4rem 0;
    background-image: url("img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.welcome-box .content {
    margin-inline: auto;
    padding-inline: 1rem;
    text-align: center;
    max-width: 500px;
}

.welcome-box .content .buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.container {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.nav-bar {
    height: 4rem;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.links ul li {
    padding-inline: 1rem;
}

.nav-bar .container .links a {
    color: white;
}

/*    BUTTONS   */
.btn {
    padding: 0.5rem;
    border-radius: 5rem;
    cursor: pointer;
}

.btn.login {
    background-color: white;
}

.btn.download-mac {
    background-color: white;
}

.btn.open-in-browser {
    color: white;
    background-color: #23272a;
}

section {
    padding: 3rem 0 3rem 0;
    height: 400px;
}

section .container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

section .container .image {
    flex: 0 1 60%;
}

/*todo: fit text in .text class container*/
section .container .text {
    padding: 1.5rem;
    flex: 0 1 40%;
}

.text h2 {
    font-size: 2rem;
}

.text p {
    margin-top: 1rem;
    font-size: 1rem;
}

.container .image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

section.section-reverse {
    background-color: lightgray;
}

section.section-reverse .container {
    flex-direction: row-reverse;
}

